@use './componentsStyle/allComponents';
@use './page/allPage';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body, #root {
	height: 100%; 
}
html {
	
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	display: flex;          
	flex-direction: column; 
	min-height: 100vh; 
	background: linear-gradient(90deg, rgb(0, 0, 0), rgb(10, 10, 10));
	font-family: 'Montserrat', sans-serif;
	font-size: 1.6rem;
	color: rgb(255, 255, 255);
}

main {
	flex: 1;
	display: flex;
	flex-direction: column;

}

#root {
	display: flex;
	flex-direction: column;
	flex: 1; 
}
