@use '../breakpoints';

.menuBox {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	width: 100%;
	height: 50px;
	background: linear-gradient(90deg, #1a1a1a 0%, #08081a 100%);

	.brandName{
		font-size: 2rem;
		font-weight: bold;
		cursor: pointer;
	}
	
}
